@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  background: #fff;
}
body.no-scroll {
  overflow: hidden;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background: #bdbdbd;
  border-radius: 2px;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #fff;
  height: 38px;
  margin-top: 34px;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 182px;
  height: 36px;
  background: url('../img/header-logo.svg') no-repeat left center, #fff;
  padding-left: 48px;
  padding-top: 6px;
  margin-right: 207px;
}
.header__logo-text {
  color: #333;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.header__search {
  width: 402px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-right: 276px;
}
.header__search.thin {
  margin-right: 207px;
}
.header__search-input {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 25px;
  border: 0;
  border-bottom: 1px solid #333;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
}
.header__search-input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}
.header__search-btn {
  width: 50px;
  height: 19px;
  border: 0;
  padding: 0;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E5261E;
  cursor: pointer;
  outline: 0;
}
.header__authorization-btn {
  width: 113px;
  height: 38px;
  background: #E5261E;
  border: 0;
  padding: 0;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.header__authorization-btn:hover {
  background: #CC221B;
}
.header__user {
  width: 182px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header__user-name {
  width: 114px;
  border: 0;
  border-bottom: 1px solid #333;
  padding: 0;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
}
.header__user-name::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}
.header__user-name.added {
  border: 0;
  text-align: right;
}
.header__user-exit {
  width: 52px;
  height: 19px;
  border: 0;
  padding: 0;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E5261E;
  cursor: pointer;
  outline: 0;
  margin-left: 16px;
}
.tabs {
  width: 100%;
  height: 42px;
  background: #fff;
}
.tabs .container {
  justify-content: center;
}
.tabs__item {
  display: block;
  height: 33px;
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  outline: 0;
}
.tabs__item:first-child {
  margin-right: 24px;
}
.tabs__item.active {
  color: #E5261E;
}
.tabs__item.active:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #E5261E;
  left: 0;
  bottom: -9px;
}
.movies {
  width: 100%;
  height: 866px;
  background: #fff;
  padding: 32px 0 72px;
}
.movies .container {
  flex-direction: column;
}
.movies__new {
  width: 100%;
  height: 478px;
  margin-bottom: 32px;
  background: #fff;
}
.movies__new-title {
  width: 134px;
  height: 28px;
  background: url('../img/new-title.svg') no-repeat center center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333;
  margin-bottom: 16px;
}
.movies__genres {
  width: 100%;
  height: 252px;
  background: #fff;
}
.movies__genres-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333;
  margin-bottom: 16px;
}
.new-list {
  width: 100%;
  height: 434px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.new-list__item {
  width: 280px;
  height: 434px;
  margin-right: 20px;
}
.new-list__item:last-child {
  margin-right: 0;
}
.new-list__item:first-of-type .new-list__item-link {
  background: url('../img/cat.svg') no-repeat center center;
}
.new-list__item:nth-of-type(2) .new-list__item-link {
  background: url('../img/batman.svg') no-repeat center center;
}
.new-list__item:nth-of-type(3) .new-list__item-link {
  background: url('../img/hollywood.svg') no-repeat center center;
}
.new-list__item:last-of-type .new-list__item-link {
  background: url('../img/girl.svg') no-repeat center center;
}
.new-list__item-link {
  position: relative;
  display: block;
  width: 280px;
  height: 370px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}
.new-list__item-link:hover .new-list__item-link-content {
  display: inline-block;
}
.new-list__item-link-content {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 370px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(51, 51, 51, 0.8);
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #f2f2f2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-list__item-text {
  width: 280px;
  max-height: 48px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.genres-list {
  width: 100%;
  height: 208px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.genres-list__item {
  width: 280px;
  height: 208px;
  margin-right: 20px;
}
.genres-list__item:last-child {
  margin-right: 0;
}
.genres-list__item:first-of-type .genres-list__item-link {
  background: url('../img/smile-icon.svg') no-repeat center center, linear-gradient(127.83deg, rgba(242, 201, 76, 0.8) 8.44%, rgba(242, 154, 74, 0.8) 91.36%);
}
.genres-list__item:first-of-type .genres-list__item-link:hover {
  background: url('../img/smile-icon.svg') no-repeat center center, linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}
.genres-list__item:nth-of-type(2) .genres-list__item-link {
  background: url('../img/cry-icon.svg') no-repeat center center, linear-gradient(127.83deg, rgba(242, 153, 74, 0.8) 8.44%, rgba(235, 87, 87, 0.8) 91.36%);
}
.genres-list__item:nth-of-type(2) .genres-list__item-link:hover {
  background: url('../img/cry-icon.svg') no-repeat center center, linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}
.genres-list__item:nth-of-type(3) .genres-list__item-link {
  background: url('../img/ufo-icon.svg') no-repeat center center, linear-gradient(127.83deg, rgba(86, 204, 242, 0.8) 8.44%, rgba(47, 128, 237, 0.8) 91.36%);
}
.genres-list__item:nth-of-type(3) .genres-list__item-link:hover {
  background: url('../img/ufo-icon.svg') no-repeat center center, linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}
.genres-list__item:last-of-type .genres-list__item-link {
  background: url('../img/scare-icon.svg') no-repeat center center, linear-gradient(127.83deg, rgba(130, 130, 130, 0.8) 8.44%, rgba(51, 51, 51, 0.8) 91.36%);
}
.genres-list__item:last-of-type .genres-list__item-link:hover {
  background: url('../img/scare-icon.svg') no-repeat center center, linear-gradient(127.83deg, #828282 8.44%, #333 91.36%);
}
.genres-list__item-link {
  width: 280px;
  height: 208px;
  display: block;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding-top: 160px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.channels {
  width: 100%;
  height: 795px;
  background: #fff;
  padding: 27px 0 72px;
  margin: 0;
  list-style: none;
}
.channels .container {
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.channels__item {
  width: 100%;
  height: 162px;
  background: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 21px 24px 19px 400px;
}
.channels__item:first-child {
  background: url('../img/first-channel.svg') no-repeat 175px center, #f2f2f2;
}
.channels__item:nth-child(2) {
  background: url('../img/2x2.svg') no-repeat 143px center, #f2f2f2;
}
.channels__item:nth-child(3) {
  background: url('../img/rbc.svg') no-repeat 172px center, #f2f2f2;
}
.channels__item:last-child {
  background: url('../img/amedia.svg') no-repeat 168px center, #f2f2f2;
  margin-bottom: 0;
}
.channels__item-title {
  max-width: 280px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  margin-bottom: 14px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.program-list {
  width: 100%;
  height: 81px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.program-list__item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 19px;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}
.program-list__item:last-child {
  margin-bottom: 0;
}
.program-list__item.active {
  color: #E5261E;
}
.program-list__time {
  display: inline-block;
  width: 46px;
  height: 19px;
  margin-right: 16px;
}
.program-list__name {
  max-width: 694px;
  height: 19px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
  width: 100%;
  min-height: 120px;
  background: #f2f2f2;
}
.footer .container {
  padding: 22px 0 25px 72px;
  flex-direction: column;
  background: url('../img/htc-logo.svg') no-repeat 0 center, #f2f2f2;
}
.footer__address,
.footer__phone {
  max-width: 940px;
  height: 19px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
}
.footer__phone {
  margin-bottom: 10px;
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #1F4766;
}
.modal {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 304px;
  height: 394px;
  padding: 36px;
  background: #fff;
  margin: auto;
  border-radius: 8px;
}
.modal__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #333;
  margin: 0 auto 24px;
}
.modal__login,
.modal__password {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  border: 0;
  border-bottom: 1px solid #333;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
  margin-bottom: 24px;
}
.modal__login::placeholder,
.modal__password::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}
.modal__checkbox {
  display: none;
}
.modal__checkbox:checked ~ span:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 10px;
  height: 8px;
  background: url('../img/checkbox-checked.svg') no-repeat center center;
}
.modal__label {
  width: 108px;
  height: 19px;
  padding-left: 24px;
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  margin-bottom: 111px;
}
.modal__label:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: transparent;
  transform: translateY(-50%);
  border: 1px solid #333;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}
.modal__label span {
  position: relative;
}
.modal__submit-form {
  width: 113px;
  height: 38px;
  background: #E5261E;
  border: 0;
  padding: 0;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}
.modal__submit-form:hover {
  background: #CC221B;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
